<!DOCTYPE html>
<html>

<head>
  <% include ../../includes/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/css/inventory.css" /> 
</head>

<body>
  <% include ../../includes/nav.ejs %>
  <main>
    <% if (prods.length > 0) { %>
        <table class="">
          <caption><%= title %></caption>
          <thead>
            <tr>
              <% Object.keys(prods[0]).forEach(function(key) { %>
                <% if(key == '_id'){ %>
                <th class="tbl-actions">
                  <input title="Select All/Unselect All" id="check-all" type="checkbox" /> 
                  <a class="link" title="New Product" href="/adminPages/admin/add-product"><i class="fa fa-plus"></i></a>
                  <!--<a class="link" href="/admin/edit-products-batch"><i class="fa fa-edit"></i></a>-->
                  <a class="link" title="Batch Copy" href="/adminPages/admin/copy-products-batch"><i class="fa fa-copy"></i></a>
                  <a class="link" title="Batch Delete" href="/adminPages/admin/delete-products-batch"><i class="fa fa-trash"></i></a>
                </th>
                <% } else { %>
                <th><%= key %></th>
                <% } %>
              <% }); %>
            </tr>
          </thead>
          <tbody>
            <% for (let product of prods) { %>
              <tr data-id="<%= product._id %>">
                  <% Object.keys(product).forEach(function(key) { %>
                    <% switch(key){ 
                        case '_id': %>
                          <td data-label="Actions" data-id="<%= product._id %>" class="row-actions">
                            <div class="btn-group">
                              <input title="Select Item" class="row-check" type="checkbox" data-id="<%= product._id %>" />
                              <a title="Edit" class="link" href="<%= '/adminPages/admin/edit-product/' + product._id + '?edit=true' %>"><i class="fa fa-edit"></i></a>
                              <a title="Copy" class="link" href="<%= '/adminPages/admin/copy-product/' + product._id %>"><i class="fa fa-copy"></i></a>
                              <a title="Delete" class="link" href="<%= '/adminPages/admin/delete-product/' + product._id %>"><i class="fa fa-trash"></i></a>
                            </div>
                          </td>
                          <% break;  
                        case 'rating':
                      %>
                        <td data-label="<%=key %>"><%= JSON.stringify(product[key]) %></td>
                      <% break;  
                        case 'image': %>
                        <td data-label="<%=key %>"><img alt="<%= product.title %>" class="tbl-img" src="<%= product[key] %>" /></td>
                        <% break; 
                        default:  %>
                          <td data-label="<%=key %>"><%= product[key] %></td>
                        <% break;  %>
                      <% } %>
                  <% }); %>  
              </tr>                      
            <% } %>
          </tbody>
        </table>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>
</main>

<script type="text/javascript" src="/scripts/inventory.js"></script>
    <% include ../../includes/end.ejs %>