<!DOCTYPE html>
<html>

<head>
  <% include ../../includes/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

  <script>
    
  </script>
</head>

<body>
  <% include ../../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This is the placeholder for Team Activity 03</p>
      </div>
    </div>
    <div class="tool-bar">
     
      <form class="search-form" action="/teamPages/ta03" method="POST">
        <div class="form-control">
            <label for="name">Title</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <input type="text" name="description" id="description">
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="text" name="price" id="price">
        </div>
        <div class="form-control">
            <label for="tag">Tags</label>
            <input type="text" name="tag" id="tag">
        </div>
        <button class="btn" type="submit">Search</button>
      </form>
    </div>
    <div class="container">
      
      <% if (items.length > 0) { %>
        <div class="grid">
            <% for (let item of items) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%= item.name %> 
                           <!-- <a href="/teamPages?action=delete&book=<%= item.name %>" class="delete">X</a> -->
                        </h1>
                    </header>
                    
                    <div class="card__image">
                        <img src="<%= item.imageUrl %>" alt="<%= item.name %>">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$<%= item.price %></h2>
                        <p class="product__description"><%= item.description %> </p>
                    </div>
                    <div class="card__actions">
                        <button class="btn">Add to Cart</button>
                    </div>
                </article>
            <% } %>
        </div>
      <% } else { %>
          <h1>No Items Found!</h1>
      <% } %>
    </div>

    <% include ../../includes/end.ejs %>