<!DOCTYPE html>
<html>

<head>
  <%- include('../../includes/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/product-detail.css" /> 
</head>

<body>
    <%- include('../../includes/nav.ejs') %>
        <main class="centered">
            <div class="grid">
                    <div class="image">
                        <img src="<%= product.image %>" alt="<%= product.title %>">
                    </div>
                    <div class="details-cont">
                        <h2 class="details-title"><%= product.title %></h2>
                        <hr>
                        <h3 class="details-price">$<%= product.price %></h3>
                        
                        <p class="details-desc"><%= product.description %></p>
                        <div class="add-cart-cont">
                            <a href="/shopPages/shop/products" class="btn btn-details">Cancel</a>
                            <% if (isAuthenticated) { %>
                                <%- include('../../includes/add-to-cart.ejs', {product: product}) %>
                            <% } %>
                        </div>
                        
                    </div>
                </div>
        </main>
        <%- include('../../includes/end.ejs') %>