<!DOCTYPE html>
<html>

<head>
  <%- include('../../includes/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/items.css" /> 
</head>

<body>
    <%- include('../../includes/nav.ejs') %>
    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %> 
                                <a href="/?action=delete&book=<%= product.title %>" class="delete hide">X</a>
                            </h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.image %>" alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h3 class="product__price"><%= (product.price).toLocaleString('en-US', {
                                style: 'currency',
                                currency: 'USD',
                              }); %></h3>
                            <p class="product__description"><%= product.description %> </p>
                        </div>
                        <form action="/adminPages/add-product" class="card__actions">
                            <label>Quantity</label>
                            <input type="number" placeholder="Qty" name="quantity" id="quantity" min="1" max="<%= product.quantity %>" value="1" class="form-control num-spin" />
                            <button class="btn">Add to Cart</button>
                            <input type="hidden" value="<%= product.description %>" />
                        </form>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../../includes/end.ejs') %>