<!DOCTYPE html>
<html>

<head>
  <%- include('../../includes/header.ejs') %>
  <link rel="stylesheet" href="/css/categories.css">
</head>

<body>
    <%- include('../../includes/nav.ejs') %>
    <main>
        <% if (cats.length > 0) { %>
            <div class="grid">
                <% for (let cat of [...new Set(cats)]) { %>
                    <% switch(cat){ 
                        case 'Earrings': %>
                            <div class="col-md-4 col-morning">
                                <h4 class="cat-title">
                                    <a href="/shopPages/shop/products-cat/<%= cat %>"><%= cat %></a>
                                </h4>
                                <img src="/images/earings.jpg" class="cat-img" alt="<%= cat %>">
                            </div>
                            <% break;
                        case 'Bracelets': %>
                            <div class="col-md-4 col-morning">
                                <h4 class="cat-title"><a href="/shopPages/shop/products-cat/<%= cat %>"><%= cat %></a></h4>
                                <img src="/images/bracelets.jpg" class="cat-img" alt="<%= cat %>">
                            </div>
                            <% break;
                        case 'Necklaces': %>
                            <div class="col-md-4 col-morning">
                                <h4 class="cat-title"><a href="/shopPages/shop/products-cat/<%= cat %>"><%= cat %></a></h4>
                                <img src="/images/necklaces.jpg" class="cat-img" alt="<%= cat %>">
                            </div>
                            <% break;
                        case 'Rings': %>
                            <div class="col-md-4 col-morning">
                                <h4 class="cat-title"><a href="/shopPages/shop/products-cat/<%= cat %>"><%= cat %></a></h4>
                                <img src="/images/rings.jpg" class="cat-img" alt="<%= cat %>">
                            </div>
                            <% break;
                        default: %>
                            <div class="col-md-4 col-morning">
                                <h4 class="cat-title"><a href="/shopPages/shop/products-cat/<%= cat %>"><%= cat %></a></h4>
                                <img src="/images/hair.jpg" class="cat-img" alt="<%= cat %>">
                            </div>
                            <% break;
                     } %>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../../includes/end.ejs') %>